.sidebar {
    display: none;
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin-bottom: 10px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section li {
    background-color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
}