/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e9ecef;
  color: #333;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

