/* Estilos para garantir uma melhor responsividade */
@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Limite de largura para manter o layout compacto */
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.info-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.icon-section {
  display: flex;
  justify-content: space-around;
}

.icon-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
}

.icon-button:hover {
  color: #007BFF; /* Exemplo de hover */
}

/* Estilo de tabela dentro do Card */
.task-table {
  margin-top: 20px;
}

.task-table th,
.task-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
