/* Estilos específicos para o carrinho de compras */
.cart-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-compra {
  margin-top: 20px;
  font-weight: bold;
  text-align: right;
}
