/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

button {
  cursor: pointer;
}
