.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mainContent {
    display: flex;
    flex: 1;
    overflow: auto;
    padding: 16px;
    flex-direction: column;
}

@media (min-width: 600px) {
    .mainContent {
        flex-direction: row;
    }
}